---
permalink: /feed/
eleventyExcludeFromCollections: true
metadata:
  title: Rohit Kumar
  subtitle: Personal website and blog of Rohit Kumar.
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ site.language }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ '/feed/' | absoluteUrl(site.url) }}" rel="self"/>
  <link href="{{ '/' | absoluteUrl(site.url) }}"/>
  <updated>{{ collections.publishedPosts[0].date | rfc3339Date }}</updated>
  <id>{{ '/' | absoluteUrl(site.url) }}</id>
  <author>
    <name>{{ site.author.name }}</name>
    <email>{{ site.author.email }}</email>
  </author>
  {% for post in collections.publishedPosts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ post.url | absoluteUrl(site.url) }}"/>
    <updated>{{ post.date | rfc3339Date }}</updated>
    <id>{{ post.url | absoluteUrl(site.url) }}</id>
    <content type="html">{{ post.templateContent | safeExternalLinks | htmlToAbsoluteUrls(site.url) }}</content>
  </entry>
  {% endfor %}
</feed>
