---
layout: layouts/base.njk
title: Rohit Kumar
description: Hey, I am Rohit Kumar. I am a writer, reader, walker, and conversationalist.
permalink: /index.html
eleventyExcludeFromCollections: true
---
<section>
  <h2>Hey,</h2>
  <p><strong>I am Rohit Kumar.</strong></p>
  <p>I am a writer, reader, walker, and conversationalist. Read my bio <a href="/about/">here</a>, blog posts <a href="/posts/">here</a>, or know what I am doing these days <a href="/now/">here</a>.</p>
</section>

<section>
  <h2>Latest Posts:</h2>
  <ul>
    <li><a href="/travel-type/">I discovered my travel-type</a></li>
    <li><a href="/information/">Two teaspoons of information, please.</a></li>
    <li><a href="/reading/">What it means to read a book</a></li>
  </ul>
</section>

<p><img src="/assets/images/homepage.webp" alt="Homepage illustration"></p>

<p><small>You can subscribe via <a href="/feed/">RSS</a> or start a friendly <a href="/contact/">conversation</a>.</small></p>
